/* *{
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%; 
}

html, body{
    height: 100%;
}

.header {
    background-color: #1F2937;
    
    display: flex;
}

.header .logo{
    flex:none;
}

.header .link{
    flex: 1;
}

.header .space1{
    flex:1 1 0;
}


.header .logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;

    flex: none;
}

.header .link {
    flex: none
}  */