*{
    box-sizing: border-box;
    /* border: 1px solid black; */
    margin: 0px;
    padding: 0px;
    font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.header {
    background-color: #1F2937;

    padding: 15px 15%;
    display: flex;
    align-items: center;
}

.header > .logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;

    flex: none;
}

.header > .space1{
    flex:1 1 0;
}


.header .link {
    flex: none;

    font-size: 18px;
    color: #E5E7EB;

    padding: 0px 10px;
} 


.first {
    background-color: #1F2937;

    padding: 100px 150px;
    display: flex;
    align-items: center;
    
}

.first > .intro > .a{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;

}

.first > .intro > .b{
    font-size: 18px;
    color: #E5E7EB;
}

.first > .intro > button{
    font-size: 16px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 8px;
    padding:8px 20px;
    border: none;
}

.first > div {
    flex:auto;
}

.first > .intro {
    width: 50%;
    align-self: flex-start;
}

.first >img {
    width : 50%;
}
